<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumKicker.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SeleniumKicker.Wpf.Properties.Settings>
            <setting name="SeleniumPath" serializeAs="String">
                <value>c:\Selenium</value>
            </setting>
            <setting name="StartChrome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartEdge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartFirefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartIE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartOpera" serializeAs="String">
                <value>False</value>
            </setting>
        </SeleniumKicker.Wpf.Properties.Settings>
    </applicationSettings>
</configuration>